<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Waiting+for+the+Sunrise">
<script type="text/javascript" src="./bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
<link rel="import" href="./bower_components/paper-button/paper-button.html">
<link rel="import" href="./bower_components/myscript-common-element/myscript-common-element.html">
<link rel="import" href="./bower_components/myscript-text-web/myscript-text-web.html">
<style is="custom-style">
        body {
            margin: 0;
            padding: 0;
            border: 0;
            height: 100%;
            max-height: 100%;
            overflow-x : hidden;
        }
        header {
            height: 49px;
            border-bottom: 1px solid #dddddd;
            display: -webkit-flex;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .write-here-wrapper{
            position: relative;
        }
        .write-here{
            position: absolute;
            width : 100vw;
            text-align : center;
            padding:  0;
            /*margin: -33px auto 0;*/
            top: 50%;
            /*font-family: 'Waiting for the Sunrise', cursive;*/
            font-size: 40px;
            z-index: 1;
        }
        #textInput, #mathInput, #graphicsInput{
            height : calc(100vh - 50px);
        }
        paper-button[toggles][active] {
            background: rgba(0, 0, 0, 0.2);
        }
        #musicInput{
            height : 300px;
        }
        #MUSICXML {
            border: none;
            margin: 0;
            overflow: auto;
            height: calc(100vh - 350px);
        }
    </style>

<ion-view>  
  <ion-content>

<div id="content">
    <div class="write-here-wrapper">
        <myscript-text-web id="textInput"
                           host="webdemoapi.myscript.com"
                           applicationkey="9faa1259-48ba-44c4-9857-b3c86d986f94"
                           hmackey="fb166b5d-3ffd-93bd-7b5b-bca0fe2216a0"
        ></myscript-text-web>
    </div>
</div>
     
  </ion-content>
</ion-view>
